	<h1>{{node.title.value}}</h1>
	<div class="row">
	
		<div class="col-md-6">
			
			<h3>Fechas de visualizacion:</h3>
			<p> {{ content.field_exp_activate_from }}</p>
			<p> {{ content.field_exp_activate_to }}</p>
			<h3>Fechas en que se puede adquirir la experiencia:</h3>
			<p> {{ content.field_exp_valid_from }}</p>
			<p> {{ content.field_exp_valid_to }}</p>
			<p> {{ content.field_exp_description }}</p>
			<p> {{ content.field_exp_inscription_txt }}</p>
			<p> {{ content.field_exp_location }}</p>	
		</div>
		<div class="col-md-6">
			<p> {{ content.field_exp_img_mobile }}</p>
			<p> {{ content.field_exp_imgdesk }}</p>
			<p> {{ content.field_exp_status }}</p>
			<p> {{ content.field_exp_stock }}</p>
			<p> {{ content.field_exp_stockper }}</p>
			<p> {{ content.field_exp_url_redirect }}</p>
			<p> {{ content.field_exp_url_terms }}</p>
	
		</div>
	</div>

